.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 200px;
}

.info-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin-top: 10px;

  p {
    font-size: min(22px, calc(.85vw + .85vh + .35vmin));
  }
}

.upload-section {
  display: flex;
  flex: 0 1 80%;
  width: 80%;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;

  .upload-form-field {
    margin-right: 50px;
    width: 400px;
  }

  .effect-mat-select {
    width: 250px;
    margin-right: 50px;

  }
  
  .input-file-upload {
    margin-right: 20px;
    &:hover {
      cursor: default;
    }
  }
  
  .upload-btn-wrapper {
    button {
      height: 40px;
      margin-top: 15px;
      width: 130px;
    }
  }

  .photo-icon {
    margin-right: 10px;
  }

  .no-padding {
    ::ng-deep .mat-form-field-wrapper {
      position: initial;
    }
  }
}

.table-wrapper {

  width: 60%;

  margin-top: 25px;

  .image-table {
    width: 100%;

    .mat-header-row {
      // :nth-child(3) {
      //   text-align: center;
      // }
    }
    

    .mat-column-uploadDate {
      width: 33%;
  
  
      // &:not(:first-child) {
      //   text-align: end;
      // }
    }

    .mat-column-image {
      width: 33%;
    }

    .mat-column-effect {
      width: 33%;
    }

  }

  // .image-enlarge {
  //   -webkit-transition:  -webkit-transform .3s ease-out;
  //   -moz-transition: -moz-transform .3s ease-out;
  //   -o-transition: -o-transform .3s ease-out;
  //   -ms-transition: -ms-transform .3s ease-out; 
  //   transition: transform .3s ease-out;


  //   animation: moveToCenter .2s ease-in forwards;
  // }
}



@keyframes moveToCenter {
  from {

  }
  to {
    -webkit-transform:scale(5);
    -moz-transform:scale(5);
    -o-transform:scale(5);
    transform:scale(5); 
    margin-left: 100%;
  }
}

