@media screen and (max-width: 750px) { 
  .content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 28, 50);
    color: white;
    height: 100%;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 5px;
    justify-content: center;
  }

  .toolbar {
    display: flex;
    flex-direction: column;
    background-color: white;
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    flex-wrap: wrap;
    font-family: 'Exo';
  }

  .stegai-logo {
    margin-left: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 750px) {
  .content-wrapper {
    display: flex;
    justify-content: start;
    background-color: rgb(19, 28, 50);
    color: white;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    align-items: center;
    padding-top: 15px;
    padding-left: 10%;
  }
  
  .toolbar {
    display: flex;
    flex-direction: column;
    background-color: white;
    // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

    flex-wrap: wrap;
    font-family: 'Exo';
    overflow: hidden;
  }

  .stegai-logo {
    margin-left: 10px;
    font-weight: 600;
    font-size: 22px;
  }

}
